*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Changa', sans-serif;
}

ul {
    list-style: none;
}
/* UTILITY TAG */
.flexer {
    display: flex;
    justify-content: center;
}

.topHead {
    height: 60px;
    border-bottom: 1px solid #747374;
}

.background {
    background-color: #E5DDD5;
}

/* MAIN STYLE */
main {
    width: 100vw;
    height: 100vh;
    background-color: #009688;
    align-items: center;
}

#app {
    height: 80%;
    width: 70%;
    margin: auto;
    background-color: #EAEAEA;
    border: 1px solid #747374;
    border-radius: 12px;
}


/* ASIDE STYLE */
aside {
    height: 100%;
    width: 30%;
    border-right: 1px solid #747374;
}

.asideTop {
    align-items: center;
    border-radius: 12px 0 0 0;
}

.profile {
    display: flex;
    align-items: center;
    padding: 0 4px;
    gap: 4px;
}

.profileFunction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
}

.profileFunction i {
    padding: 0 6px;
}

#contactList {
    flex-direction: column;
    padding: 8px 4px;
}

#contactList .singleContact {
    margin: 4px 0;
}

.singleContact {
    gap: 4px;
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-name {
    flex-grow: 2;
}

.contactSearch {
    width: 100%;
    padding: 8px 4px;
    background-color: #F3EEEA;
    align-items: center;
}

.contactSearch input {
    height: 26px;
    flex-grow: 2;
    border: 1px solid #E9EBEB;
    border-radius: 0 5px 5px 0;
}

.contactSearch i {
    height: 24px;
    padding: 4px;
    background-color: white;
    border-radius: 5px 0 0 5px;
}
/* MAIN CHAT STYLE */
#mainChat {
    height: 100%;
    width: 70%;
    position: relative;
}

.chatTop {
    border-radius: 0 12px 0 0;
}

.currentchat {
    height: calc(100% - 60px); /* Top-head height 60px*/
}

.myText {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid #747374;
    border-radius: 0 0 12px 0;
}

.myText input {
    height: 30px;
    width: 80%;
    border-radius: 6px;
    border: none;
}
